    .loader{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: aliceblue;
        transition: opacity 0.75s, visibilty 0.75s;
    }

    .loader-hidden{
        opacity: 0;
        visibility: hidden;
    }

    .loader::after{
        content:"";
        width:75px;
        height: 75px;
        border: 15px solid #dddddd;
        border-top-color: rgb(170, 160, 145);
        border-radius: 50%;
        animation: loading 0.75s ease infinite;
    }

    @keyframes loading{
        from{
            transform: rotate(0turn);
        }
        to{
            transform: rotate(1turn);
        }
    }