/* Root */
:root {
    --gray: gray;
    --lightGray: rgb(152, 152, 152); 
    --darkGray: rgb(93, 93, 93);
    --black: black;
    --white: white; 
}

/* All Elements */
* {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */
.site-header {
    display: flex;
    width: 100%;
}

.logo {
    width: 5%;
    margin-left: 1%;
    font-size: 26px;
    font-weight: bold;
}

.navBar {
    width: 100vw;
    margin-top: 7px;
}

.nav {
    float: right;
    color: var(--gray);
    margin-right: 2%;
    text-decoration: none;
}

.nav:link,
.nav:visited {
    color: var(--gray);
}

.nav:hover,
.nav:active {
    color: var(--black);
    cursor: pointer;
}

form {
    margin: 0 auto;
}

/* Submit */
form button {
    display: flex;
    justify-content: center;
    border: px solid var(--gray);
    border-radius: 10px;
    width: 10%;
    min-width: 15vw;
    padding: 1%;
    margin: 0 auto 1%;
    color: var(--white);
    background-color: var(--darkGray);
}

form button:hover {
    background-color: rgb(53, 53, 53);
    cursor: pointer;
}

form button:active {
    background-color: var(--lightGray);
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100px;
    margin-bottom: 0%;
}

.footerLinks {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
}

.footerLink {
    margin-bottom: 0;
    color: var(--gray);
    text-decoration: none;
}

.footerWords {
    display:block;
    margin: 0 auto;
    text-align: center;
    color: var(--gray);
}

/* Carousel */
/* Josh changing ids to classes */
.carousel {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


.shirts,
.pants,
.shoes {
 width: 75%;
 height: 75%;
 margin: 0 auto;
}

.shirtsRow,
.pantsRow,
.shoesRow { 
    list-style: none;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 90%;
    margin: 0 auto;
    margin-bottom: 2vh;
}

.shirtsRow li,
.pantsRow li,
.shoesRow li {
    background-color: var(--gray);
    border-radius: 25px;
    height: 85%;
    width: 32%;
    margin: 30px auto;
    z-index: 0;
}

/* .shirtsRow li:hover,
.pantsRow li:hover,
.shoesRow li:hover,
#mainShirt:hover,
#mainPants:hover,
#mainShoes:hover {
    border: 2px solid black;
}  */

.shirtsRow li:hover,
.pantsRow li:hover,
.shoesRow li:hover {
    /* border: 2px solid rgba(49, 49, 49, 0.513); */
    background-color:rgba(0, 0, 0, 0.7);
    cursor: pointer;
} 

.shirtsRow li:active,
.pantsRow li:active,
.shoesRow li:active {
    /* border: 2px solid rgba(49, 49, 49, 0.513); */
    background-color:rgba(82, 82, 82, 0.7);
    cursor: pointer;
} 

#mainShirts,
#mainPants,
#mainShoes {
    display: inline-flex;
    background-color: var(--gray);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 16px 50px 0 rgba(0, 0, 0, 1.5);
    border-radius: 25px;
    height: 90%;
    width: 35%;
    margin: 2% auto;
    z-index: 1;
    transform: scale(1.2,1)
}


#mainShirts:hover,
#mainPants:hover,
#mainShoes:hover {
    scale: 1.1;
} 

/* Past Styles */
#pastStyles {
    border: 5px solid black;
}

#pastStyles h2 {
    text-align: center;
    font-size: 70px;
    margin-top: 
}

/* Media Queries */
@media screen  and  (max-width: 1200px) {
    form button {
        display: flex;
        justify-content: center;
        border: px solid var(--gray);
        border-radius: 10px;
        width: 20%;
        height: 25%;
        min-width: 15vw;
        padding: 1%;
        margin: 2% auto 3%;
        color: var(--white);
        background-color: var(--darkGray);
    }
    .shirtsRow,
    .pantsRow,
    .shoesRow { 
        list-style: none;
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        flex-direction: row;
        width: 90%;
        height: 90%;
        margin: 0 auto;
        margin-bottom: 2vh;
}
}
/* 
@media screen and (max-width: 1200px) {
    .shirtsRow,
    .pantsRow,
    .shoesRow {
        margin-left: 3vw;
    }
}

@media screen and (max-width: 1000px) {
    .shirtsRow,
    .pantsRow,
    .shoesRow {
        margin-left: -2vw;
    }
}

@media screen and (max-width: 800px) {
    .shirtsRow,
    .pantsRow,
    .shoesRow {
        margin-left: -3vw;
    }
}

@media screen and (max-width: 500px) {
    .shirtsRow,
    .pantsRow,
    .shoesRow {
        margin-left: -5vw;
    }
}

@media screen and (max-width: 400px) {
    .shirtsRow,
    .pantsRow,
    .shoesRow {
        margin-left: -6vw;
    }
} */