/* Root */
:root {
    --gray: #59534E;
    --bison: #C8BAB0(152, 152, 152); 
    --gullGray:#59534E(93, 93, 93);
    --white: rgb(226, 222, 218);
    --hitGray: #A9B5BC; 
}

/* All Elements */
* {
    margin: 0;
    font-family:'Abril Fatface', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #d0d0d07b;
}

/* Header */
.site-header {
    display: flex;
    width: 100%;
    background-color: #C8BAB0;
}

.logo {
    width: 5%;
    margin-left: 1%;
    font-size: 26px;
    font-weight: bold;
    color: #59534E;
}

.navBar {
    width: 100vw;
    margin-top: 7px;
}

.nav {
    float: right;
    color: var(--gray);
    margin-right: 2%;
    text-decoration: none;
    text-decoration-color: #c4d3db;
}

.nav:link,
.nav:visited {
    color: var(--gray);
}

.nav:hover,
.nav:active {
    cursor: pointer;
    color: rgb(226, 222, 218);
}

/* Carousel */
/* Josh changing ids to classes */
.carousel {
    width: 90vw;
    height: 80vh;
    margin: 2vh auto;
    display: flex;
    flex-direction: column;
    
}


.shirts,
.pants,
.shoes {
    width: 75%;
    height: 75%;
    margin: 0 auto;
    overflow: auto;
    }

.shirtsRow,
.pantsRow,
.shoesRow {
    list-style: none;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 90%;
    margin: 0 auto;
}

.shirtsRow li,
.pantsRow li,
.shoesRow li {
    background-color: #d0d0d07b;;
    border-radius: 25px;
    height: 85%;
    width: 32%;
    margin: 30px auto;
    z-index: 0;
    overflow: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 16px 50px 0 rgba(0, 0, 0, 0.5);
}

.shirtsRow li img,
.pantsRow li img,
.shoesRow li img {
    width: 100%;
    height: 100%;
}

.shirtsRow li div,
.pantsRow li div,
.shoesRow li div {
    width: 70%;
    text-align: center;
    margin: 0 auto 2%;
}

.shirtsRow li:hover,
.pantsRow li:hover,
.shoesRow li:hover {
    /* border: 2px solid rgba(49, 49, 49, 0.513); */
    cursor: pointer;
    z-index: 0;
}

/* Arrows */
.leftArrow {
    position: absolute;
    top: 0;
    display: none;
}

.rightArrow {
    position: absolute;
    top: 0;
    display: none;
}

.shirtsRow li,
.pantsRow li,
.shoesRow li {
    position: relative;
}

.leftShirts:hover .leftAfter,
.leftPants:hover .leftAfter,
.leftShoes:hover .leftAfter {
    display: block;
    background: rgba(122, 120, 120, 0.5);
}

.rightShirts:hover .rightAfter,
.rightPants:hover .rightAfter,
.rightShoes:hover .rightAfter {
    display: block;
    background: rgba(122, 120, 120, 0.5);
    }

.shirtsRow li:active,
.pantsRow li:active,
.shoesRow li:active {
  /* border: 2px solid rgba(49, 49, 49, 0.513); */
    cursor: pointer;
    scale: 1.1;
    border: 2px solid #59534E(12, 12, 12, 0.531);
} 

/* Main Cards */

.mainShirts,
.mainPants,
.mainShoes {
    flex-direction: column;
    background-color: #d0d0d07b;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.5), 0 16px 50px 0 rgb(0, 0, 0, 1.5);
    border-radius: 25px;
    height: 90%;
    width: 35%;
    margin: 2% auto;
    z-index: 1;
    transform: scale(1.2, 1);
    overflow: scroll;
}

.mainShirts img,
.mainPants img,
.mainShoes img {
    width: 100%;
    height: 100%;
}

.mainShirts div,
.mainPants div,
.mainShoes div {
    width: 70%;
    text-align: center;
    margin: 0 auto 2%;
}

.mainShirts:hover,
.mainPants:hover,
.mainShoes:hover {
    scale: 1.1;
    cursor: pointer;
}

/* Form */

form {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 5px solid #59534E;
    width: 75vw;
    height: 5vh;
    background-color:#d0d0d07b;

}

form h3 {
    border: 5px solid #C8BAB0;
    display: block;
    font-size: 12px;
    width: 20%;
    color: #59534E;
}

form button {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 20%;
    height: 100%;
    color: #C8BAB0;
    background-color: #59534E;
}

form button:hover {
    background-color: #59534E;
    cursor: pointer;
}

form button:active {
    background-color: #59534E;
}

/* Past Styles */
#pastStyles {
    display: flex;
    flex-direction: column;
    /* background-color: #59534E; */

}

#pastStyles h2 {
    text-align: center;
    font-size: 50px;
    margin-top: 7vh;
    color: #59534E;
    text-shadow:
    -1px -1px 0 #9e9e9e,  
    1px -1px 0 #ffff,
    -1px 1px 0#9e9e9e,
    1px 1px 0 #9e9e9e;
}

#hanger {
    border-radius: 25px;
    background-color: #59534E;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 16px 50px 0 rgba(0, 0, 0, 1.5);
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    height: 75vh;
    padding: 0;
    width: 75vw;
    margin: 2% auto;
    overflow: scroll;
}

.outfit {
    border: 5px solid gray;
    border-radius: 25px;
    list-style-type: none;
    width: 30%;
    height: 96%;
    margin: 0.5% auto 2%;
    background-color: white;
}

.outfit li div {
    border: 5px solid  #A9B5BC;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100px;
    margin-bottom: 1%;
    background-color: #C8BAB0;
}

.footerLinks {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
}

.footerLink {
    margin-bottom: 0;
    color: #59534E;
    text-decoration: none;
}

.footerWords {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #59534E;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
    form button {
        display: flex;
        justify-content: center;
        border: px solid var(--gray);
        border-radius: 10px;
        width: 20%;
        height: 25%;
        min-width: 15vw;
        padding: 1%;
        margin: 2% auto 3%;
        color: var(--white);
        background-color: #C8BAB0;
    }
    .shirtsRow,
    .pantsRow,
    .shoesRow {
        list-style: none;
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        flex-direction: row;
        width: auto;
        height: 90%;
        margin: 0 auto;
        margin-bottom: 2vh;
    }

    .shirtsRow li div,
    .pantsRow li div,
    .shoesRow li div {
        width: 70%;
        text-align: center;
        margin: 0 auto 2%;
        font-size: 12px;
    }

    .mainShirts div,
    .mainPants div,
    .mainShoes div {
        width: 70%;
        text-align: center;
        margin: 0 auto 2%;
        font-size: 12px;
    }
    }

@media screen and (max-width: 900px) {
    .outfit {
        border: 5px solid gray;
        border-radius: 25px;
        list-style-type: none;
        width: 30%;
        height: auto;
        margin: 0.5% auto 2%;
        background-color: white;
    }
    }

/* MOBILE PHONE TO SMALL TABLET */
@media screen and (max-width: 500px) {
    .logo {
        padding-top: 2rem;
        display: flex;
    }

    .navBar {
        display: flex;
        flex-direction: column;
        text-align: end;
    }

    .carousel {
        width: 95vw;
        height: 80vh;
        margin: 1;
        display: flex;
        flex-direction: column;
    }

    .shirts,
    .pants,
    .shoes {
        display: flex;
        height: auto;
        width: 100%;
        margin: 0;
        padding:0;
        overflow: hidden;
    }

    .shirtsRow,
    .pantsRow,
    .shoesRow {
        display: flex;
        max-height: 100%;
        width: auto;
        margin: 0;
    }

/*main card*/
    .shirtsRow li img,
    .pantsRow li img,
    .shoesRow li img {
        max-width: 100%;
        height: 100%;
    }

.mainShirts img,
.mainPants img,
.mainShoes img {
    max-width: 100%;
    height: 100%;
    overflow: scroll;
}
}

/* 
@media screen and (max-width: 1200px) {
    .shirtsRow,
    .pantsRow,
    .shoesRow {
        margin-left: 3vw;
    }
}

@media screen and (max-width: 1000px) {
    .shirtsRow,
    .pantsRow,
    .shoesRow {
        margin-left: -2vw;
    }
}

@media screen and (max-width: 800px) {
    .shirtsRow,
    .pantsRow,
    .shoesRow {
        margin-left: -3vw;
    }
}

@media screen and (max-width: 500px) {
    .shirtsRow,
    .pantsRow,
    .shoesRow {
        margin-left: -5vw;
    }
}

@media screen and (max-width: 400px) {
    .shirtsRow,
    .pantsRow,
    .shoesRow {
        margin-left: -6vw;
    }
} */

        .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    transition: opacity 0.75s, visibilty 0.75s;
}
