/* Root */
:root {
    --gray: gray;
    --lightGray: rgb(152, 152, 152); 
    --darkGray: rgb(93, 93, 93);
    --black: black;
    --white: white; 
}

/* All Elements */
* {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */
.site-header {
    display: flex;
    width: 100%;
}

.logo {
    width: 5%;
    margin-left: 1%;
    font-size: 26px;
    font-weight: bold;
}

.navBar {
    width: 100vw;
    margin-top: 7px;
}

.nav {
    float: right;
    color: var(--gray);
    margin-right: 2%;
    text-decoration: none;
}

.nav:link,
.nav:visited {
    color: var(--gray);
}

.nav:hover,
.nav:active {
    color: var(--black);
}

/* Hero Header */
.hero {
    display: flex;
    justify-content: center;
}

.heroHeader {
    text-align: center;
    margin: 10% 5% 2%;
    max-width: 50%;
}

.heroHeader h1 {
    font-size: 10vw;
}

/* Form */
.formContainer {

}

.form {
    width: 75%;
    margin: 0 auto;
}

.formOutfit {
    width: 75%;
    margin: 0 auto;
}

.formOutfitInput {
    display: block;
    box-sizing: border-box;
    padding: 1% 5%;
    width: 75%;
    margin: 0 auto 1%;
    border: 2px solid var(--gray);
    border-radius: 25px;
}


.formOutfit label {
    display: block;
    width: 75%;
    margin: 0 auto 1%;
    text-align: center;
}

/* Select */
.formSelect {
    border: 2px solid var(--gray);
    padding: 0.5%;
    border-radius: 25px;
    display: block;
    min-width: 200px;
    width: 20%;
    margin: 0 auto 1%;
}

select option {
    font-family: 'Courier New', Courier, monospace;
    font-size: 5px;
}

/* Submit */
form button {
    display: block;
    border: px solid var(--gray);
    border-radius: 10px;
    width: 10%;
    min-width: 100px;
    padding: 1%;
    margin: 0 auto 1%;
    color: var(--white);
    background-color: var(--darkGray);
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 270px;
    margin-bottom: 0%;
}

.footerLinks {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
}

.footerLink {
    margin-bottom: 0;
    color: var(--gray);
    text-decoration: none;
}

.footerWords {
    display:block;
    margin: 0 auto;
    text-align: center;
    color: var(--gray);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6;
}

.button{
    background: grey;
    padding: 1em 2em;
    color: aliceblue;
    border: 0;
}

.button:hover{
    background: #333;
}

.modal2{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content{
    background-color: antiquewhite;
    margin: 20% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}

.closeBtn{
    color: azure;
    float: right;
    font-family: 30px;
}

.closeBtn:hover,.closeBtn:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from{opacity:0}
    to{opacity: 1;}
}