    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        line-height: 1.6;
    }

    .button{
        background: grey;
        padding: 1em 2em;
        color: aliceblue;
        border: 0;
    }

    .button:hover{
        background: #333;
    }

    .modal2{
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.5);
    }

    .modal-content{
        background-color: antiquewhite;
        margin: 20% auto;
        padding: 20px;
        width: 70%;
        box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
        animation-name: modalopen;
        animation-duration: 1s;
    }

    .closeBtn{
        color: azure;
        float: right;
        font-family: 30px;
    }

    .closeBtn:hover,.closeBtn:focus{
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    @keyframes modalopen {
        from{opacity:0}
        to{opacity: 1;}
    }